# Dependencias
node_modules/

# Archivos de configuración locales y de entorno
.env
.env.local
.env.*.local

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de caché
.cache/

# Archivos de sistema operativo
.DS_Store

# Archivos de IDE
.idea/
.vscode/