*{ 
  padding: 0px;
}
@font-face{
font-family: "Personalizado2";
src: url(/font/Bytesized/Bytesized-Regular.ttf);
}
p,a,body{
    font-family: "Personalizado", system-ui;
}
body {
    font-family: "Courier New", monospace;
    background-color: #000000;
    color: #c400ff; 
    
}
