* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Personalizado2";
  src: url(/font/Bytesized/Bytesized-Regular.ttf);
}

@font-face {
  font-family: "Personalizado";
  src: url(/font/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

body {
  font-family: "Courier New", monospace;
  background-color: #000;
  color: #c400ff;
  text-align: center;
  padding: 40px 20px;
}

header {
  font-family: "Personalizado2", system-ui;
  font-size: 3rem;
  margin-bottom: 30px;
  color: #ff00ff;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #c400ff;
}

.main {
  display: inline-block;
  padding: 25px;
  border: 2px dashed #ff00ff;
  background-color: #000;
  box-shadow: 0 0 15px #c400ff;
  border-radius: 10px;
}

h2 {
  font-family: "Personalizado2", system-ui;
  text-shadow: 0 0 15px #c400ff, 0 0 10px #ff00ff;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

input {
  padding: 10px;
  border: 2px solid #ff00ff;
  border-radius: 5px;
  background: #000;
  color: #ff00ff;
  font-family: "Personalizado", system-ui;
  text-align: center;
  outline: none;
  width: 200px;
  box-shadow: 0 0 10px #c400ff;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #ff00ff;
  color: #000;
  font-family: "Personalizado2", system-ui;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #ff00ff;
  transition: 0.3s;
}

button:hover {
  background-color: #c400ff;
  box-shadow: 0 0 20px #ff00ff, 0 0 30px #c400ff;
  transform: scale(1.05);
}

#resultado {
  margin-top: 25px;
}

#resultado img {
  max-width: 300px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #ff00ff;
  box-shadow: 0 0 20px #c400ff;
  animation: aparecer 0.6s ease-in-out;
}

p {
  color: #9b00ff;
  text-shadow: 0 0 5px #c400ff;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
