* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Personalizado2";
  src: url(/font/Bytesized/Bytesized-Regular.ttf);
}

@font-face {
  font-family: "Personalizado";
  src: url(/font/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

body {
  font-family: "Courier New", monospace;
  background-color: #000;
  color: #c400ff;
  text-align: center;
  padding: 40px 20px;
  margin-top: 25px;
}

body img{
  max-width: 700px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #ff00ff;
  box-shadow: 0 0 20px #c400ff;
  animation: aparecer 0.6s ease-in-out;

}

footer {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #ff00ff;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #ff00ff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px #c400ff;
  transition: 0.3s;
}

a:hover {
  background-color: #ff00ff;
  color: #000;
  box-shadow: 0 0 25px #ff00ff, 0 0 40px #c400ff;
  transform: scale(1.05);
}