* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: "Personalizado2";
    src: url(/font/Bytesized/Bytesized-Regular.ttf);
}

@font-face {
    font-family: "Personalizado";
    src: url(/font/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

body {
    font-family: "Courier New", monospace;
    background-color: #000000;
    color: #c400ff; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}


h1 {
    font-family: "Personalizado2", "Courier New", system-ui;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #c400ff; 
    text-transform: uppercase;
}


form {
    width: 100%;
    max-width: 600px; 
    border: 2px dashed #ff00ff; 
    background-color: #000000;
    box-shadow: 0 0 15px #c400ff; 
    padding: 30px;
    display: flex;
    flex-direction: column;
}


label {
    font-family: "Personalizado2", system-ui;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #ff00ff; 
    text-shadow: 0 0 5px #c400ff;
}


input[type="text"],
input[type="number"] {
    background-color: #000; 
    border: 1px solid #c400ff;
    color: #00ff00;  #ff00ff 
    padding: 10px;
    font-family: "Courier New", monospace;
    font-size: 1rem;
    outline: none;
    box-shadow: inset 0 0 5px #c400ff;
}


input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #ff00ff;
    box-shadow: 0 0 10px #ff00ff, inset 0 0 10px #c400ff;
}


button[type="submit"] {
    margin-top: 25px;
    background-color: #000;
    color: #ff00ff;
    font-family: "Personalizado2", system-ui;
    font-size: 1.2rem;
    padding: 15px;
    border: 2px solid #ff00ff;
    cursor: pointer;
    text-shadow: 0 0 5px #c400ff;
    box-shadow: 0 0 5px #ff00ff;
    transition: all 0.3s ease;
    text-transform: uppercase;
}


button[type="submit"]:hover {
    background-color: #ff00ff;
    color: #000; 
    box-shadow: 0 0 20px #ff00ff; 
    font-weight: bold;
}